.hamburgermenu-header
  %a.menuButton#menuButton
    .div
    .div
    .div
  .hamburger-nav#hamburger-nav
    %ul
      %li
        = render partial: "toggleswitch"
        %a.smoothScroll(href="#HOME") HOME
        %a.smoothScroll(href="#ABOUT") ABOUT
        %a.smoothScroll(href="#SKILLS") SKILLS
        %a.smoothScroll(href="#WORKS") WORKS
        %a.smoothScroll(href="#CONTACT") CONTACT