// 変数を使う為に、このファイルの読み込み順位を優先して下さい。

$twitterColor: #1da1f2;

$fontS: 0.875rem; // 14px
$fontM: 1.2rem; // 24px
$fontL: 2rem; // 32px

* {
  box-sizing: border-box;
}

a {
  color: #333;
  text-decoration: none;
  &:hover {
    cursor: pointer;
  }
}

a.color {
  color: #1e73be;
  &:hover {
    text-decoration: underline;
  }
}
