@mixin modal($Top, $Left, $zIndex) {
  position: fixed;
  top: $Top;
  left: $Left;
  z-index: $zIndex;
  opacity: 0;
  visibility: hidden;
  transition: 0.3s;
}

@mixin modalActive($opacity) {
  opacity: $opacity;
  visibility: visible;
  height: -webkit-fill-available;
}

.modal {
  @include modal($Top: 50%, $Left: 50%, $zIndex: 11);
  transform: translate(-50%, -50%);
}

.modalmask {
  @include modal($Top: 0, $Left: 0, $zIndex: 10);
  height: 100%;
  width: 100%;
  background-color: #000;
  a.modalClose {
    position: absolute;
    top: 0%;
    right: 0%;
    transform: translate(-175%, 25%);
    font-size: 4rem;
    color: #fff;
    opacity: 0.7;
    &:hover {
      opacity: 1;
      transition: 0.3s;
    }
  }
}

.modal.active {
  @include modalActive(1);
}

.modalmask.active {
  @include modalActive(0.7);
}
