// トップに戻るボタン

.scroll {
  position: fixed;
  right: 0;
  bottom: 0;
  font-size: 2.5rem;
  color: #ccc;
  transform: translate(0%, -130%);
  background-color: #333;
  padding: 0.3rem 1.5rem;
  border-radius: 50%;
  visibility: hidden;
  opacity: 0;
  transition: 0.5s;
}
.scroll.top {
  visibility: visible;
  opacity: 0.8;
  transition: 0.5s;
}
.scroll:hover {
  color: #fff;
}

// コンテンツをスクロールするとふわっと出てくる

.animationTarget.show .delay,
.animationTarget.show .header-line.middle,
.animationTarget.show .language__block,
.animationTarget.show .picture,
.animationTarget.show .work,
.animationTarget.show .work.translateXscroll,
.animationTarget.show a.sam,
.animationTarget.show .container-contact {
  opacity: 1;
  transform: none;
}

.delay {
  opacity: 0;
  transform: translateY(20px);
  transition: 1s;
}

.language__block {
  opacity: 0;
  transform: translateY(30px);
}
.language__block.delay1 {
  transition: 1s;
}

.language__block.delay2 {
  transition: 1.2s;
}

.language__block.delay3 {
  transition: 1.4s;
}

.language__block.delay4 {
  transition: 1.6s;
}
.language__block.delay5 {
  transition: 1.8s;
}

.picture,
a.sam {
  opacity: 0;
  transition: 1s 0.5s; // 0.5秒遅れて1秒かけてアニメーションする
}
